In [161]:
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import requests
import pandas as pd

In [162]:
# Create our browser scraper
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 101.0.4951
Get LATEST chromedriver version for 101.0.4951 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/101.0.4951.41/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\alexl\.wdm\drivers\chromedriver\win32\101.0.4951.41]

In [163]:
# Get/check url
url = "http://www.espn.com/nba/attendance"
requests.get(url).status_code

200

In [164]:
browser.visit(url)

In [165]:
attend_df = pd.DataFrame()

for i in range(4,(2022-2004)+4+1):
    year = []
    
    if (i < 10):
        # Select each year
        browser.find_by_tag('select').click()
        browser.find_by_text(f'200{i}').click()
        
        # Create df from current page and add year column for selected year
        new_df = pd.read_html(browser.url)[0]
        
        for j in range(0, new_df.count()[1]):
            year.append(f'200{i}')
        
        new_df["Year"] = year
        
        # Append new df to attend_df and drop title rows
        attend_df = attend_df.append(new_df)
        attend_df = attend_df.drop([0,1])
        
        
    elif (i >= 10):
        browser.find_by_tag('select').click()
        browser.find_by_text(f'20{i}').click()
        
        
        new_df = pd.read_html(browser.url)[0]
        
        for j in range(0, new_df.count()[1]):
            year.append(f'20{i}')
        
        new_df["Year"] = year
        
        
        attend_df = attend_df.append(new_df)
        attend_df = attend_df.drop([0,1])

In [166]:
attend_df

,0,1,2,3,4,5,6,7,8,9,10,11,Year
2,1,Pistons,41,872902,21290,96.4,41,17127,107.8,82,19209,101.2,2004
3,2,Mavericks,41,825594,20136,--,41,17452,113.6,82,18794,244.6,2004
4,3,Bulls,41,809177,19736,90.9,41,16517,106.9,82,18126,97.6,2004
5,4,76ers,41,788128,19222,94.0,41,17672,114.0,82,18447,102.6,2004
6,5,NY Knicks,41,785739,19164,99.4,41,17589,109.8,82,18376,104.1,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,28,Thunder,41,595112,14877,81.7,41,16638,88.4,82,15768,85.2,2022
30,29,Kings,41,577583,14439,82.1,41,16598,88.4,82,15532,85.4,2022
31,30,Pacers,41,588743,14359,80.1,41,16794,88.5,82,15577,84.5,2022
32,31,Leb,1,0,0,--,0,0,--,0,0,--,2022
33,NaN,Dur,0,0,0,--,1,0,--,0,0,--,2022

In [224]:
clean_attend_df = attend_df.loc[attend_df[4] != '0']
clean_attend_df

,0,1,2,3,4,5,6,7,8,9,10,11,Year
2,1,Pistons,41,872902,21290,96.4,41,17127,107.8,82,19209,101.2,2004
3,2,Mavericks,41,825594,20136,--,41,17452,113.6,82,18794,244.6,2004
4,3,Bulls,41,809177,19736,90.9,41,16517,106.9,82,18126,97.6,2004
5,4,76ers,41,788128,19222,94.0,41,17672,114.0,82,18447,102.6,2004
6,5,NY Knicks,41,785739,19164,99.4,41,17589,109.8,82,18376,104.1,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27,26,Magic,41,622881,15192,80.6,41,17062,89.8,82,16127,85.2,2022
28,27,Spurs,41,615588,15014,81.8,41,16939,90.3,82,15965,86.0,2022
29,28,Thunder,41,595112,14877,81.7,41,16638,88.4,82,15768,85.2,2022
30,29,Kings,41,577583,14439,82.1,41,16598,88.4,82,15532,85.4,2022
31,30,Pacers,41,588743,14359,80.1,41,16794,88.5,82,15577,84.5,2022

In [225]:
clean_attend_df = clean_attend_df.drop(columns= 0)
clean_attend_df = clean_attend_df.reset_index(drop=True)
clean_attend_df

,1,2,3,4,5,6,7,8,9,10,11,Year
0,Pistons,41,872902,21290,96.4,41,17127,107.8,82,19209,101.2,2004
1,Mavericks,41,825594,20136,--,41,17452,113.6,82,18794,244.6,2004
2,Bulls,41,809177,19736,90.9,41,16517,106.9,82,18126,97.6,2004
3,76ers,41,788128,19222,94.0,41,17672,114.0,82,18447,102.6,2004
4,NY Knicks,41,785739,19164,99.4,41,17589,109.8,82,18376,104.1,2004
...,...,...,...,...,...,...,...,...,...,...,...,...
554,Magic,41,622881,15192,80.6,41,17062,89.8,82,16127,85.2,2022
555,Spurs,41,615588,15014,81.8,41,16939,90.3,82,15965,86.0,2022
556,Thunder,41,595112,14877,81.7,41,16638,88.4,82,15768,85.2,2022
557,Kings,41,577583,14439,82.1,41,16598,88.4,82,15532,85.4,2022
558,Pacers,41,588743,14359,80.1,41,16794,88.5,82,15577,84.5,2022

In [226]:
clean_attend_df = clean_attend_df.loc[clean_attend_df['Year'] != '2021']
clean_attend_df

,1,2,3,4,5,6,7,8,9,10,11,Year
0,Pistons,41,872902,21290,96.4,41,17127,107.8,82,19209,101.2,2004
1,Mavericks,41,825594,20136,--,41,17452,113.6,82,18794,244.6,2004
2,Bulls,41,809177,19736,90.9,41,16517,106.9,82,18126,97.6,2004
3,76ers,41,788128,19222,94.0,41,17672,114.0,82,18447,102.6,2004
4,NY Knicks,41,785739,19164,99.4,41,17589,109.8,82,18376,104.1,2004
...,...,...,...,...,...,...,...,...,...,...,...,...
554,Magic,41,622881,15192,80.6,41,17062,89.8,82,16127,85.2,2022
555,Spurs,41,615588,15014,81.8,41,16939,90.3,82,15965,86.0,2022
556,Thunder,41,595112,14877,81.7,41,16638,88.4,82,15768,85.2,2022
557,Kings,41,577583,14439,82.1,41,16598,88.4,82,15532,85.4,2022
558,Pacers,41,588743,14359,80.1,41,16794,88.5,82,15577,84.5,2022

In [227]:
clean_attend_df.to_csv("attendance.csv")

In [167]:
browser.quit()