In [2]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine
from config import db_password

In [13]:
# Read in scraped Attendance data
attendance_data = pd.read_csv("../../NBA_scrape/attendance.csv")
attendance_data.head(30)

,Unnamed: 0,1,2,3,4,5,6,7,8,9,10,11,Year
0,0,Pistons,41,872902,21290,96.4,41,17127,107.8,82,19209,101.2,2004
1,1,Mavericks,41,825594,20136,--,41,17452,113.6,82,18794,244.6,2004
2,2,Bulls,41,809177,19736,90.9,41,16517,106.9,82,18126,97.6,2004
3,3,76ers,41,788128,19222,94.0,41,17672,114.0,82,18447,102.6,2004
4,4,NY Knicks,41,785739,19164,99.4,41,17589,109.8,82,18376,104.1,2004
5,5,Jazz,41,785330,19154,96.2,41,16537,114.9,82,17845,104.0,2004
6,6,Lakers,41,777757,18969,98.4,41,19380,134.4,82,19175,113.8,2004
7,7,Raptors,41,750608,18307,92.5,41,16480,105.8,82,17394,98.3,2004
8,8,Cavaliers,41,749790,18287,88.9,41,18755,121.2,82,18521,102.8,2004
9,9,Spurs,41,739706,18041,97.5,41,17347,119.9,82,17694,107.4,2004
10,10,Timberwolves,41,723071,17635,92.8,41,17862,123.7,82,17749,106.1,2004
11,11,Nuggets,41,721476,17596,--,41,17184,111.8,82,17390,226.4,2004
12,12,Kings,41,709997,17317,100.0,41,17813,122.7,82,17565,110.3,2004
13,13,Bucks,41,690180,16833,89.9,41,16213,104.1,82,16523,96.4,2004
14,14,Trail Blazers,41,684038,16683,83.5,41,16282,113.1,82,16483,95.9,2004
15,15,Pacers,41,678326,16544,90.2,41,17710,113.6,82,17127,101.0,2004
16,16,Suns,41,670385,16350,86.0,41,16461,114.0,82,16406,98.1,2004
17,17,Warriors,41,665648,16235,82.9,41,15885,110.2,82,16060,94.5,2004
18,18,Clippers,41,665396,16229,--,41,16258,108.8,82,16243,217.3,2004
19,19,Celtics,41,664248,16201,87.0,41,16955,109.3,82,16578,97.1,2004
20,20,Wizards,41,645363,15740,--,41,16008,96.9,82,15874,192.3,2004
21,21,Rockets,41,640794,15629,84.5,41,17768,122.9,82,16698,101.3,2004
22,22,Thunder,41,625474,15255,91.6,41,16842,115.9,82,16049,102.9,2004
23,23,Heat,41,624809,15239,77.8,41,16524,106.5,82,15881,90.4,2004
24,24,Grizzlies,41,622723,15188,--,41,16695,108.7,82,15941,207.5,2004
25,25,Nets,41,613051,14952,74.8,41,17358,111.9,82,16155,91.0,2004
26,26,Magic,41,589144,14369,83.3,41,16793,107.5,82,15581,94.8,2004
27,27,Pelicans,41,587613,14332,83.3,41,16679,106.6,82,15505,94.4,2004
28,28,Hawks,41,565728,13798,--,41,16282,98.9,82,15040,182.7,2004
29,29,Pistons,41,905116,22076,100.0,41,17868,110.8,82,19972,104.6,2005

In [14]:
len(attendance_data)

539

In [15]:
attendance_data.columns

Index(['Unnamed: 0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11',
       'Year'],
      dtype='object')

In [16]:
#Begin cleaning data
attendance_df = attendance_data.drop(columns = ['Unnamed: 0'])
attendance_df

,1,2,3,4,5,6,7,8,9,10,11,Year
0,Pistons,41,872902,21290,96.4,41,17127,107.8,82,19209,101.2,2004
1,Mavericks,41,825594,20136,--,41,17452,113.6,82,18794,244.6,2004
2,Bulls,41,809177,19736,90.9,41,16517,106.9,82,18126,97.6,2004
3,76ers,41,788128,19222,94.0,41,17672,114.0,82,18447,102.6,2004
4,NY Knicks,41,785739,19164,99.4,41,17589,109.8,82,18376,104.1,2004
...,...,...,...,...,...,...,...,...,...,...,...,...
534,Magic,41,622881,15192,80.6,41,17062,89.8,82,16127,85.2,2022
535,Spurs,41,615588,15014,81.8,41,16939,90.3,82,15965,86.0,2022
536,Thunder,41,595112,14877,81.7,41,16638,88.4,82,15768,85.2,2022
537,Kings,41,577583,14439,82.1,41,16598,88.4,82,15532,85.4,2022
538,Pacers,41,588743,14359,80.1,41,16794,88.5,82,15577,84.5,2022

In [17]:
# Adding columns names to the data
attendance_df = attendance_df.rename(columns = {'1':'HOME_TEAM_NAME', '2':'HOME_GAMES', '3':'Attendance', '4':'HOME_ATTENDANCE_AVG',
                                               '5':'HOME_ATTENDANCE_PCT', '6':'AWAY_GAMES', '7':'AWAY_ATTENDANCE_AVG', 
                                                '8':'AWAY_ATTENDANCE_PCT', '9':'TOTAL_GAMES', '10':'OVERALL_ATTENDANCE_AVG',
                                               '11':'OVERALL_ATTENDANCE_PCT'})

attendance_df

,HOME_TEAM_NAME,HOME_GAMES,Attendance,HOME_ATTENDANCE_AVG,HOME_ATTENDANCE_PCT,AWAY_GAMES,AWAY_ATTENDANCE_AVG,AWAY_ATTENDANCE_PCT,TOTAL_GAMES,OVERALL_ATTENDANCE_AVG,OVERALL_ATTENDANCE_PCT,Year
0,Pistons,41,872902,21290,96.4,41,17127,107.8,82,19209,101.2,2004
1,Mavericks,41,825594,20136,--,41,17452,113.6,82,18794,244.6,2004
2,Bulls,41,809177,19736,90.9,41,16517,106.9,82,18126,97.6,2004
3,76ers,41,788128,19222,94.0,41,17672,114.0,82,18447,102.6,2004
4,NY Knicks,41,785739,19164,99.4,41,17589,109.8,82,18376,104.1,2004
...,...,...,...,...,...,...,...,...,...,...,...,...
534,Magic,41,622881,15192,80.6,41,17062,89.8,82,16127,85.2,2022
535,Spurs,41,615588,15014,81.8,41,16939,90.3,82,15965,86.0,2022
536,Thunder,41,595112,14877,81.7,41,16638,88.4,82,15768,85.2,2022
537,Kings,41,577583,14439,82.1,41,16598,88.4,82,15532,85.4,2022
538,Pacers,41,588743,14359,80.1,41,16794,88.5,82,15577,84.5,2022

In [18]:
attendance_df.isnull().sum()

HOME_TEAM_NAME            0
HOME_GAMES                0
Attendance                0
HOME_ATTENDANCE_AVG       0
HOME_ATTENDANCE_PCT       0
AWAY_GAMES                0
AWAY_ATTENDANCE_AVG       0
AWAY_ATTENDANCE_PCT       0
TOTAL_GAMES               0
OVERALL_ATTENDANCE_AVG    0
OVERALL_ATTENDANCE_PCT    0
Year                      0
dtype: int64

In [19]:
attendance_df.dtypes

HOME_TEAM_NAME             object
HOME_GAMES                  int64
Attendance                  int64
HOME_ATTENDANCE_AVG         int64
HOME_ATTENDANCE_PCT        object
AWAY_GAMES                  int64
AWAY_ATTENDANCE_AVG         int64
AWAY_ATTENDANCE_PCT       float64
TOTAL_GAMES                 int64
OVERALL_ATTENDANCE_AVG      int64
OVERALL_ATTENDANCE_PCT    float64
Year                        int64
dtype: object

In [21]:
# Grabbing the only columns we will use in the model
attendance_df = attendance_df[['HOME_TEAM_NAME', 'Year', 'Attendance']]
attendance_df

    HOME_TEAM_NAME  Year  Attendance
0          Pistons  2004      872902
1        Mavericks  2004      825594
2            Bulls  2004      809177
3            76ers  2004      788128
4        NY Knicks  2004      785739
..             ...   ...         ...
534          Magic  2022      622881
535          Spurs  2022      615588
536        Thunder  2022      595112
537          Kings  2022      577583
538         Pacers  2022      588743

[539 rows x 3 columns]

# Loading the Attendance Data into the Database

In [22]:
# Connect to the database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Final_Project"

engine = create_engine(db_string)

attendance_df.to_sql(name='attendance_data', con=engine, if_exists = 'append')

In [23]:
#Pull from database to export as csv
attendance_data_df = pd.read_sql_table("attendance_data", con=engine)

attendance_data_df

     index HOME_TEAM_NAME  Year  Attendance
0        0        Pistons  2004      872902
1        1      Mavericks  2004      825594
2        2          Bulls  2004      809177
3        3          76ers  2004      788128
4        4      NY Knicks  2004      785739
..     ...            ...   ...         ...
534    534          Magic  2022      622881
535    535          Spurs  2022      615588
536    536        Thunder  2022      595112
537    537          Kings  2022      577583
538    538         Pacers  2022      588743

[539 rows x 4 columns]

In [24]:
attendance_data_df = attendance_data_df.drop(columns = ['index'])
attendance_data_df

    HOME_TEAM_NAME  Year  Attendance
0          Pistons  2004      872902
1        Mavericks  2004      825594
2            Bulls  2004      809177
3            76ers  2004      788128
4        NY Knicks  2004      785739
..             ...   ...         ...
534          Magic  2022      622881
535          Spurs  2022      615588
536        Thunder  2022      595112
537          Kings  2022      577583
538         Pacers  2022      588743

[539 rows x 3 columns]

In [25]:
# Export data as a csv
attendance_data_df.to_csv('../Resources/attendance_marced.csv')